<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <app-error-msg></app-error-msg>
            <form #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="file">Importar arquivo csv</label>
                    <input type="file" class="form-control-file" id="file">
                </div>
            </form>
            <button class="btn btn-primary" type="submit">Importar</button>
        </div>
    </div>
</div>  

