<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input 
        class="form-control" 
        id="nome" 
        placeholder="Nome" name="nome"
        #nome="ngModel" 
        [(ngModel)]="usuario.nome" 
        [class.is-invalid]="!nome.valid && nome.touched"
        required
      />
      <div *ngIf="!nome.valid && nome.touched" class="text-danger">
        Preencha o nome do usuário.
      </div>
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input 
          class="form-control" 
          id="login" 
          placeholder="Login" name="login"
          #login="ngModel" 
          [(ngModel)]="usuario.login" 
          [class.is-invalid]="!login.valid && login.touched"
          required
        />
        <div *ngIf="!login.valid && login.touched" class="text-danger">
          Preencha o login do usuário.
        </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input 
        class="form-control" 
        id="email" 
        placeholder="Email" name="email"
        #email="ngModel" 
        [(ngModel)]="usuario.email" 
        [class.is-invalid]="!email.valid && email.touched"
        required
      />
      <div *ngIf="!email.valid && email.touched" class="text-danger">
        Preencha o email do usuário.
      </div>
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input 
          type="password"
          class="form-control" 
          id="senha" 
          placeholder="Senha" name="senha"
          #senha="ngModel" 
          [(ngModel)]="usuario.senha" 
          [class.is-invalid]="!senha.valid && senha.touched"
          required
        />
        <div *ngIf="!senha.valid && senha.touched" class="text-danger">
          Preencha a senha do usuário.
        </div>
    </div>
    <div class="form-group">
        <label for="admin">Administrador</label>
        <select 
          #admin="ngModel" 
          class="form-control" 
          [class.is-invalid]="!admin.valid && admin.touched" 
          id="admin"
          name="admin" 
          [(ngModel)]="usuario.admin">
          <option [ngValue]="undefined">Selecione...</option>
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
        <div *ngIf="!admin.valid && admin.touched" class="invalid-feedback">
          Escolha se o usuário é administrador.
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Salvar</button>
  </form>