<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/"> {{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/usuarios">Usuários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/historico">Histórico</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/csv">Importar CSV</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<app-error-msg></app-error-msg>