<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="combustivel">Combustível</label>
    <input 
      class="form-control" 
      id="combustivel" 
      placeholder="Combustível" name="combustivel"
      #combustivel="ngModel" 
      [(ngModel)]="item.combustivel" 
      [class.is-invalid]="!combustivel.valid && combustivel.touched"
      required
    />
    <div *ngIf="!combustivel.valid && combustivel.touched" class="text-danger">
      Preencha o combustível.
    </div>
  </div>
  <div class="form-group">
    <label for="data">Data</label>
    <input 
      type="date"
      class="form-control" 
      id="data" 
      placeholder="Data" name="data"
      #data="ngModel" 
      [(ngModel)]="item.data" 
      [class.is-invalid]="!data.valid && data.touched"
      required
    />
    <div *ngIf="!data.valid && data.touched" class="text-danger">
      Preencha a data.
    </div>
  </div>
  <div class="form-group">
      <label for="preco">Preço</label>
      <input 
        class="form-control" 
        id="preco" 
        placeholder="Preço" name="preco"
        #preco="ngModel" 
        [(ngModel)]="item.preco" 
        [class.is-invalid]="!preco.valid && preco.touched"
        required
      />
      <div *ngIf="!preco.valid && preco.touched" class="text-danger">
        Preencha o preço.
      </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Salvar</button>
</form>