<div class="container mt-3">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <app-error-msg></app-error-msg>
        <div class="text-right">
          <button type="button" class="btn btn-success" routerLink="/historico/criar">Cadastrar item</button>
        </div>
        <div class="text-center" *ngIf="!existemItens()">
          Nenhum item cadastrado.
        </div>
      </div>
    </div>
    <div class="row mt-3" *ngFor="let item of itens">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-header">
            <span class="badge badge-pill">
              {{item.combustivel}}
            </span>
          </div>
          <div class="card-body">
            <p class="card-text">Data: {{item.data}}</p>
            <p class="card-text">Preço: {{item.preco}}</p>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <button type="button" class="btn btn-primary btn-sm ml-1" routerLink="/historico/editar/{{item.id}}">Editar</button>
              <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletaItem(item.id)">Deletar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>