<div class="container mt-3">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <app-error-msg></app-error-msg>
        <div class="text-right">
          <button type="button" class="btn btn-success" routerLink="/usuarios/criar">Novo Usuário</button>
        </div>
        <div class="text-center" *ngIf="!existemUsuarios()">
          Nenhum usuário cadastrado.
        </div>
      </div>
    </div>
    <div class="row mt-3" *ngFor="let usuario of usuarios">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-header">
            <span class="badge badge-pill">
              {{usuario.nome}}
            </span>
          </div>
          <div class="card-body">
            <p class="card-text">Login: {{usuario.login}}</p>
            <p class="card-text">Email: {{usuario.email}}</p>
            <p class="card-text">Admin: {{usuario.admin}}</p>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <button type="button" class="btn btn-primary btn-sm ml-1" routerLink="/usuarios/editar/{{usuario.id}}">Editar</button>
              <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletaUsuario(usuario.id)">Deletar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>