<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
        <app-error-msg></app-error-msg>
        <div class="card">
            <div class="card-header">
            Criar
            </div>
            <div class="card-body">
            <app-form-historico (outputHistorico)="addItem($event)"></app-form-historico>
            </div>
        </div>
        </div>
    </div>
</div>